.btn {
    width: 70%;
    height: 32px;
    border-radius: 5px;
    /* font-size: 20px; */
    cursor: pointer;
}

.btn0 {
    grid-column: 1 / span 2;
    width: 80%;
}

.sign {
    background-color: orange;
}

.digit {
    background-color: grey;
}